* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'JetBrains Mono', system-ui, sans-serif, monospace;
}

a {
	color: #0247fe;
	text-decoration: underline;
}

h1 {
	margin-bottom: 50px;
}

.navigation-links {
	min-height: 50px;
	min-width: 400px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	border-radius: 10px;
	background-color: #ebf5ff;
	transition: box-shadow 0.15s, transform 0.15s;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 4px 13px -3px,
		rgba(0, 0, 0, 0.2) 0px -2px 0px inset;
}

.navigation-links:hover {
	transform: translateY(-2px);
	box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 2px 13px -3px,
		#d6d6e7 0 -3px 0 inset;
}

.component {
	min-height: 50vh;
	width: 75vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	border-radius: 25px;
	padding: 15px 35px 15px 45px;
	background-color: #ebebeb;
	transition: box-shadow 0.15s, transform 0.15s;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 2px 13px -3px,
		rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
	/* box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -2px 0 inset; */
}

.buttonsComponent {
	min-height: 100px;
	min-width: 450px;
	margin-bottom: 40px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	border-radius: 25px;
	padding: 5px 10px 10px 10px;
	background-color: #ebebeb;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 2px 13px -3px,
		rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
	/* box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -2px 0 inset; */
}

.component:hover {
	transform: translateY(-4px);
	box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 0 13px -3px,
		#d6d6e7 0 -4px 0 inset;
}

.btn-div {
	min-width: 350px;
	display: flex;
	align-items: space-evenly;
	justify-content: space-around;
}

.button {
	height: 45px;
	cursor: pointer;
	border-width: 0;
	border-radius: 10px;
	font-size: 16px;
	line-height: 1;
	padding-left: 16px;
	padding-right: 16px;
	background-color: #fcfcfd;
	transition: box-shadow 0.15s, transform 0.15s;
	box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 4px 13px -3px,
		#d6d6e7 0 -2px 0 inset;
}

.button:hover {
	transform: translateY(-2px);
	box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
		#d6d6e7 0 -3px 0 inset;
}

.button:active {
	transform: translateY(2px);
	box-shadow: #d6d6e7 0 3px 7px;
}

.form {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.input {
	width: 50%;
	margin: 25px 0px;
	padding: 15px 15px;
	border-radius: 10px;
	border: none;
	box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}